# Class 3

## Data Structure in Python

### List

#### 1. Odered
#### 2. Changeable
#### 3. Allow Duplicate

In [223]:
l1 = ['data','science',1,2,3,4,100,True,False,[1,2,3,4]]

In [224]:
l1

['data', 'science', 1, 2, 3, 4, 100, True, False, [1, 2, 3, 4]]

In [225]:
import sys
sys.getsizeof(l1)

136

In [226]:
t1 = ('data','science',1,2,3,4,100,True,False,[1,2,3,4])

In [227]:
sys.getsizeof(t1)

120

In [228]:
t1[-1]

[1, 2, 3, 4]

In [229]:
t1[1]

'science'

In [230]:
t1[-2]

False

In [231]:
t1[-1][-1]

4

In [232]:
#tuple doesnt accept Dupes

In [233]:
t1[0]='science'

TypeError: 'tuple' object does not support item assignment

In [ ]:
l1[2:6] #colon indicates range

In [ ]:
l1[-4:-1] #colon indicates range

In [ ]:
 string='data science'

In [ ]:
string.split()

In [ ]:
for x in range(len(string)):
    print(string[x],x)

In [ ]:
data=string.split()
for x in range (len(data)):
    print(data[x],x)

In [ ]:
l1

In [ ]:
l1.append('Reaper') #append is a very imortant funtion needed in ML.Used to add to list

In [ ]:
l1

In [ ]:
l1.insert(3,'Altaf') #insert used to add to list between lines
l1

In [ ]:
#index = tells the position
#remove/pop = deletes from list(pop for index and remove for specific value)

In [ ]:
#to get the address use id
id(l1)

In [ ]:
l2=l1 #l2  change if l1 altered
l2

In [ ]:
l1.pop(5)
l2

In [ ]:
l3=l2.copy() #copy= creates separate disconnected list, if l2 changed l3 remain same

l2

In [ ]:
l3

In [ ]:
l2.pop(3)

In [ ]:
l2

In [ ]:
l3 #remains unchanged

In [ ]:
#l3.sort() #sort list containing same type
#reverse
#count = counts how many times present
#clear

In [ ]:
l3.clear()

In [ ]:
l3

In [ ]:
l3=[1,2,7,8,10,1,3,7]
l3

In [ ]:
total=0
for x in l3:
    total+=x
    print(total)
print('total = ',total)

### input function

In [ ]:
x=input() #input in form of string so addition leads to combination
y=input()
x+y

In [ ]:
x=int(input('Enter Number'))
y=int(input('Enter Number'))
x+y

In [ ]:
list1=[]
n=int(input())
for i in range(n):
    new_element=input()
    list1.append(new_element)
    print(list1)

### Tuple in python

In [ ]:
tup1=('datascience','ai')

In [ ]:
  type(tup1)

In [ ]:
tup1[0]=1

In [ ]:
tup2=list(tup1)

In [ ]:
type(tup2)

In [ ]:
tup2[0]=1

In [ ]:
tup2

In [ ]:
tup1=tuple(tup2)

In [ ]:
tup1

In [ ]:
'ai' in tup1 #checks whether present or not

In [ ]:
10 in tup1

In [ ]:
#cannot remove or delete any inputed data in tuple

In [ ]:
slic=tup1[1:2]

In [ ]:
slic

In [ ]:
tup1[:1]

In [ ]:
tup1[1:2]+tup1[:1]

In [ ]:
tup1[:1]+tup1[1:2]

### set in python

In [ ]:
s1={1,2,3,4,5,6}

In [ ]:
s1

In [ ]:
s1[0] #unordered socannot access or change

In [ ]:
s1={1,2,3,4,4,4,5,5,1,1,1,2,3}

In [ ]:
s1 #dupes removed

In [ ]:
s2={'ai','data',5,3}

In [ ]:
s1.intersection(s2)

In [ ]:
s1.union(s2)

In [ ]:
s1 | s2 #union

In [ ]:
s1 & s2 #intersection

In [ ]:
s1.add(34)

In [ ]:
s1

In [ ]:
s1.remove(34)

In [ ]:
s1

### Array

In [ ]:
import array as ar

In [ ]:
array1=ar.array('i',[1,2,3,4,5]) #i for integer

In [ ]:
array1

In [ ]:
array1.insert(1,10)

In [ ]:
array1

In [ ]:
array1.reverse()

In [ ]:
array1

### dictionary

In [ ]:
dic ={
    'name':'altaf',
    'id' : 193001412 ,
    'dept' : 'CSE'
}

In [ ]:
dic

In [ ]:
dic.keys()

In [ ]:
dic.values()

In [ ]:
dic['name']='altaf uddin'

In [ ]:
dic

In [ ]:
dic={'name': 'altaf', 'id': 193001412, 'dept': 'CSE', 'varsity': 'NULL','varsity': 'edu'}

In [ ]:
dic

In [ ]:
dic.popitem()

In [234]:
dic

{'name': 'altaf', 'id': 193001412, 'dept': 'CSE'}

### dataframe

In [235]:
#row contains info of a single person
#column contains data of same type

In [236]:
import pandas as pd

In [237]:
l = ['data','science','ai']

In [238]:
l

['data', 'science', 'ai']

In [239]:
df = pd.DataFrame(l)

In [240]:
df

         0
0     data
1  science
2       ai

In [241]:
  df=pd.DataFrame(l,columns=['dept'])

In [242]:
df

      dept
0     data
1  science
2       ai

In [243]:
df.shape #first value is row , second is column

(3, 1)

In [244]:
row,col=df.shape

In [245]:
row

3

In [246]:
col

1

In [247]:
df2=pd.DataFrame(l,columns=['dept name'])

In [248]:
df2

  dept name
0      data
1   science
2        ai

In [249]:
df+df2 #values not received

  dept dept name
0  NaN       NaN
1  NaN       NaN
2  NaN       NaN

In [250]:
df=pd.concat([df,df2])

In [251]:
df

      dept dept name
0     data       NaN
1  science       NaN
2       ai       NaN
0      NaN      data
1      NaN   science
2      NaN        ai

In [252]:
df1=pd.DataFrame(l,columns=['dept'])
df2=pd.DataFrame(l,columns=['dept name'])

In [253]:
df1

      dept
0     data
1  science
2       ai

In [254]:
df2

  dept name
0      data
1   science
2        ai

In [255]:
df=pd.concat([df1,df2],axis=1) #axis=> 1 for column and 0 for row

In [256]:
df

      dept dept name
0     data      data
1  science   science
2       ai        ai

In [257]:
df.drop([0])

      dept dept name
1  science   science
2       ai        ai

In [258]:
df.drop(['dept'], axis=1, inplace=True) #inplace causes update

In [259]:
df

  dept name
0      data
1   science
2        ai